.bd-page-width {
    max-width: 95rem;
}

.bd-main .bd-content .bd-article-container {
    max-width: null;
}

html[data-theme=dark] .bd-content img:not(.only-dark):not(.dark-light) {
    background: #ffffff00;
    border-radius: .25rem
}